
.are-doing {
    @media screen and (max-width: 1199px) {
       display: none; 
    }
    padding-bottom: 94px;

    &__list {
        @extend %list;
        display: flex;
        }
        
        &__item:not(:last-child) {
        margin-right: 30px;
        }
        
        &__item {
        position: relative;  
        }

        &__img {
            @extend %img;
        }

        
        &__text {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        font-weight: 700;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        color: $primaryWhiteColor;
        }
        
    }
   