.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 94px 15px;
    overflow-y: scroll;

    background: rgba(47, 48, 58, 0.4);  
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        }
        
        &.is-hidden .modal {
        transform: translate(-50%, -50%) scale(1.1);
        }
    

    } 
    
    .modal {

    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
    // background-color: rgba(255, 255, 255, 1); 
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color: $primaryWhiteColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
   
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (min-width: 768px){
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) scale(1);
    // max-width: 450px;
    // width: 100%;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px; 
    }

    &__title {
        display: flex;
        justify-content: center;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.03em;
        color: $titleTextColor;
        margin-bottom: 12px;

        @include desktop {
            line-height: 1.15; 
        }
        }

    }
    
   
    