/* Button  */

.button {
    display: inline-block;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.hero__button {
    color: $primaryWhiteColor;
    background-color: $accentColor;
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    background: $btnBgHoverColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

}


.modal-btn {
    position: absolute;
    display: inline-block;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px; 
    border: none;    
    border-radius:  50%; 
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accentColor;
    }
    
    &__icon {
    position: absolute;
    top: 0;
    right: 0px;
    display: inline-block;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    fill: currentColor;
      }  
    
    } 

//    Mobile-button

.menu-open-btn,
.menu-close-btn {
    display: block;
    margin-left: auto;
    
     border: none;
     background-color: transparent;
 
     @media screen and (min-width: 767px) {
        display: none; 
     }
}



// .menu-button {
//     // display: inline-flex;
//     // margin: 0;
//     // padding: 0;
  
   
//     border: none;
//     background-color: transparent;

//     @media screen and (min-width: 767px) {
//        display: none; 
//     }
// }

// .menu-button .icon-cross {
//     display: none;
// }

// .menu-button.is-open .icon-cross {
//     display: block;
// }

// .menu-button.is-open .icon-menu {
//     display: none;
// }

