.do {
    // margin-left: 70px;

    margin-bottom: 115px;
    
    

    &__list {
        @extend %list;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 206px;
    width: 100%;
    // text-align: center;
    
    }
    
    &__item:not(:last-child) {
        margin-right: 10px;
    }
    &__icon {
        fill: $primaryWhiteColor;
        }

    }
    
    .do__link {
        @extend %link;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $bgColorIcon;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $accentColor;
    }
    }
    
    
    
    