
.feature {
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px; 
        
         } 


         @media screen and (min-width: 1200px){
            padding-top: 94px;
            padding-bottom: 94px; 
             } 
   

    &__list {
        @extend %list;


        @media screen and (min-width: 768px) {
            display: flex; 
            flex-wrap: wrap;
            margin: -15px; 
        }
        @media screen and (min-width: 1199px) {
            margin: 0;
        }
    }
    
    &__item {
        margin-left: auto;
        margin-right: auto;
    //  @media screen and (min-width: 480px){
    //    width: calc(100%); 
    //     } 
        

     @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: calc((100% - 4 * 15px) / 2);
            margin: 15px; 
             } 
             

    @media screen and (min-width: 1200px){
                width: 270px;
        
                 } 
                      
                

    &:not(:last-child) {
@media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
    margin-right: 30px;
}
    }
}
    
    &__svg {
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 270px;
        // height: 120px;
        margin-bottom: 30px;
        background-color: $endBgColor;
    }
    
    &__title {
        margin-bottom: 10px;
        color: $titleTextColor;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }
    &__text {
    line-height: 1.71;
    }



}
