
.auth-nav {
    @media screen and (max-width: 767px) {
        display: none;
    }
    @extend %list;
    display: flex;
    margin-left: auto;


&__item + &__item {
    margin-left: 50px;
}

&__link {
    @extend %link;
    display: flex;
    align-items: center;
    
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primaryTextColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: $accentColor;
        fill: currentColor;
    }

}

&__icon {
    fill: currentColor;
    margin-right: 10px;
}
}