
 .hero {
    
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile1x.jpg);
    background-color: $heroBgColor;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    @include retina {
  
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile2x.jpg);
  }


     @media screen and (min-width: 768px) {
         width: 768px;
         height: 400px;
         background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
         url(../images/hero-tablet1x.jpg);

         @include retina {
  
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet2x.jpg);
  }
     }

     @media screen and (min-width: 1200px) {
        width: 1200px;
        max-width: 1600px;

        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/Img-hero.jpg);

        @include retina {
  
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop2x.jpg);
  }
    }


.hero__title {

    margin-bottom: 30px;
    color: $primaryWhiteColor;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include desktop {
        font-size: 44px;
        line-height: 1.36;  
    }
    }
}