textarea {
    resize: none;
    }
    
    .form {
        width: 370px;
        margin-left: auto;
        margin-left: auto;

        @include desktop {
            width: 448px;
        }

        &__field {
            display: flex;
            flex-direction: column;
            position: relative;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            margin-bottom: 4px;
            color: $primaryTextColor;
            }
      
            &__field + &__field {
            margin-top: 10px;
            }  
        } 
    
   
    .form__icon {
    position: absolute;
    bottom: 10px;
    left: 12px;
    display: inline-block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    .form__input:hover + &,
    .form__input:focus + &{
    fill: $accentColor;
    }
    
    &:hover,
    &:focus {
     fill: currentColor;
    }
    }

    .form__input {
        margin: 0;
        padding: 11px 12px 11px 42px;
        @include bordered (rgba(33, 33, 33, 0.2));
        border-radius: 4px;
        cursor: pointer;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus-within,
        &:not(:placeholder-shown) {
        outline: none;
        border-color: $accentColor;
        }
    }
   
    
    .form__comment {
    padding: 12px 16px;
    height: 120px; 
    @include bordered (rgba(33, 33, 33, 0.2));
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        }
        
        &:hover,
        &:focus-within,
        &:not(:placeholder-shown) {
        outline: none;
        border-color: $accentColor;
        }
    }
    
    .checkbox  {
    position: relative;
    display: inline-block;
    display: flex; 
    align-items: center;
    height: 24px; 
    padding-left: 20px;
    margin-top: 20px;

@include desktop {
    padding-left: 36px; 
}

    &__label {
        font-weight: 400;
        font-size: 11px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: $primaryTextColor;
        margin-right: 3px;
       

         @include desktop {
             font-size: 14px; 
             line-height: 1.71;
            margin-right: 3px;
         }
        }
            
        &__label--accent {
        text-decoration-line: underline;
        color: $accentColor;
        margin-right: 0;
        }
        
        &__input {
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden; 
        }
    }
    
    .checkbox__icon {
    position: absolute;
    top: 4px;
    left: 0px;
    display: inline-block;
    width: 16px;
    height: 15px; 
    background-image: url(../images/icon-on.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
        left: 13px; 
    }
    
    .checkbox__input:checked + & {
        background-image: url(../images/icon-check-color.svg);
        } 
}