.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $futerBgColor;
    text-align: center;
   

    &__overlay {

       
        // display: flex;
        // align-items: baseline;
        }

        &__title {
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $primaryWhiteColor;
            margin-bottom: 20px;
            }
    }

    
    
    