.project-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 50px;
    margin-left: -30px;
    margin-bottom: -30px;  

    &__item {
        width: 100%;
       
        margin-bottom: 30px;

    @include tablet {
        width: calc((100% - 60px) / 2); 
        margin-left: 30px;
    }

    @include desktop {
        width: calc((100% - 90px) / 3);
        
    }
    
     }
}

