.project {
    @extend %link;
    display: block;
    box-shadow: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__container {
        padding: 20px 24px;
        @include  bordered ($portfolioBorderColor);
        border-top: none;
    }


    
    
    &__name {
        margin-bottom: 4px;
        color: $titleTextColor;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        color: $primaryTextColor;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        z-index: 2;
        width: 322px;
        height: 168px;
        font-size: 18px;
        line-height: 1.56;
        color: $primaryWhiteColor; 
        }

        &__img {
            @extend %img;
        }
    
}
    /* Portfolio Thumb */
    
    .project__thumb {
    position: relative; 
    overflow: hidden; 
    }
    
    
    .project__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $bgOverlayColor;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1; 
    
    .project:hover &,
    .project:focus &  {
    transform: translateY(0);  
    } 
    }
    
    
    
    