.sign-up {
    margin-left: auto;

    &__form {
        // display: flex;
        margin-top: 20px;
        }
        
        &__input {
        // width: 358px;
        width: 100%;
        height: 50px;
        background: #2F303A;
        @include  bordered (rgba(255, 255, 255, 0.3));
        
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-top: 15px;
        padding-left: 16px;
        padding-bottom: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        // margin-right: 12px;
        margin-bottom: 20px;
        }

        &__icon {
            position: absolute;
            top: 13px;
            right: 28px;
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url(../images/icon-send.svg);
            background-repeat: no-repeat;
            background-size: contain;
            }
    }
    
    
    
    .sign-up__btn {
    position: relative;
    display: flex;
    
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    color: $primaryWhiteColor;
    background-color: $accentColor;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
    

  
    &:hover,
    &:focus {
    box-shadow: inset 0 4px 4px  rgba(0, 0, 0, 0.15);
    }

}
    
   
    
    