.submit {
    min-width: 200px;
    padding: 10px 55px 10px 56px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    background-color: $accentColor;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    color: $primaryWhiteColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    background-color: $btnBgHoverColor;
    box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.15);
    }
    

} 
    
    
