
$primaryTextColor: #757575;
$titleTextColor:  #212121;
$accentColor: #2196F3;
$primaryWhiteColor: #FFFFFF;
$secondaryWhitColor: rgba(255, 255, 255, 0.6);
$mediumBgColor: #E5E5E5;
$endBgColor: #F5F4FA;
$futerBgColor: #2F303A;
$headerBorderColor: #ECECEC;
$portfolioBorderColor:  #EEEEEE;
$heroBgColor: #C4C4C4;
$socialLinksMainColor: AFB1B8;
$klientsMainColor: AFB1B8;
$btnBgHoverColor: #188CE8;
$klientsColor: #AFB1B8;
$bgColorIcon: rgba(255, 255, 255, .1);
$bgOverlayColor: rgba(33, 150, 243, 0.9);

$fontFamilPrimery: 'Roboto', sans-serif;
$fontSizePrymery: 14px;
$letterSpacingPrymery: 0.03em;

$fontFamilyLogo: 'Raleway', sans-serif;
$fontWeightLogo: 700;
$fontSizeLogo: 26px;
$lineHeightLogo: 1.17;